nav {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8rem;
    flex-wrap: wrap;
    }
    @media (max-width: 770px) {
    nav {
    padding: 0 2rem;
    }
    }
    nav > ul {
    display: flex;
    gap: 3rem;
    }
    nav button {
    background: none;
    border: none;
    color: inherit;
    transform: scale(1.5);
    }
    nav a {
    transition: all 0.3s ease-in-out;
    }
    nav a:hover {
    color: var(--highlight);
    }
    nav img{
        width: 100px;
    }
    .icono {
        height: 130px;
        width: 230px;
        font-size: 3rem;
        display: flex;
        color: #fff; 
        vertical-align: auto; /* No es necesario */
        }